@import url( ./../assets/css/main.css);


  .button {
    @apply font-normal text-sm rounded-lg cursor-pointer select-none text-center justify-center inline-flex items-center space-x-2.5 py-2.5 px-4 !important;
    width: fit-content;
    height: fit-content;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  .button--regular {
    @apply text-white bg-purple-600 focus:ring focus:ring-purple-200 transition duration-300 ease-in !important;
  }
  .button--outlined {
    @apply text-gray-700 bg-transparent border border-[#D0D5DD] !important;
  }
  .button--text {
    @apply text-gray-600 hover:text-gray-900 bg-transparent focus:bg-gray-100 transition duration-300 ease-in !important;
  }
